#full-width {
  width: 100%;
}

#field-type-selection-width {
  width: 10%;
  margin-right: 10px;
}

#search-width {
  width: 75%;
}

.example-container {
  height: 80%;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-title {
  width: 10%;
}

.mat-column-author {
  width: 7%;
  text-align: center;
}

.mat-column-text {
  width: 68%;
}

.mat-column-tags {
  width: 15%;
}

.mat-raised-button{
    margin-left: 15px;
    width: 10%;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
